.introducao-bg {
    background: #F5F7FA;
}

.introducao {
    height: 100dvh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding-top: 60px;
}

.introducao-conteudo {
    display: grid;
    align-content: center;
    gap: 1rem;
    justify-items: start;
}